* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  position: relative;
}

ul,
ol,
li,
b,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: block;
}

a {
  color: unset;
}
a:hover {
  color: unset;
}

select {
  outline: none;
  border: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: #323232;
  color: #ffffff;
}

header {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 160px;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/images/banner2.png");
  background-position: center center;
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
}
header .header_seperator {
  align-self: center;
  width: 94%;
  border-top: 1px solid rgba(255, 255, 255, 0.2509803922);
}
header .header_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  gap: 10px;
}
header .header_1 .business_name {
  font-size: 1rem;
  font-family: "Bhavuka", sans-serif;
}
header .header_1 .drawer_btn {
  display: flex;
  font-size: 1.7rem;
}
header .header_1 .balance-cont {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4%;
}
header .header_1 .balance-cont .account-logout {
  display: flex;
  font-size: 1.4rem;
  padding: 6px 9px 6px 6px;
  border-radius: 6px;
  transition: background-color 0.1s ease;
  cursor: pointer;
}
header .header_1 .balance-cont .account-logout:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
header .header_1 .balance-cont span {
  font-size: 1rem;
  font-family: "Mukta", sans-serif;
  font-weight: 300;
}
header .header_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
header .header_2 .brand_name {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Calligraffitti", cursive;
}
header .header_2 nav {
  display: none;
  flex-direction: row;
  gap: 20px;
}
header .header_2 nav > a,
header .header_2 nav > .srv_dd_menu > a {
  font-size: 1.1rem;
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  cursor: pointer;
  padding: 0 10px;
}
header .header_2 nav > a,
header .header_2 nav > .srv_dd_menu {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: border-bottom 0.1s ease;
}
header .header_2 nav > a:hover,
header .header_2 nav > .srv_dd_menu:hover {
  border-bottom: 1px solid #ffffff;
}
@keyframes fadeIn_dd_menu {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
header .header_2 nav .srv_dd_menu {
  position: relative;
}
header .header_2 nav .srv_dd_menu > a:hover ~ ul {
  display: flex;
}
header .header_2 nav .srv_dd_menu > ul:hover {
  display: flex;
}
header .header_2 nav .srv_dd_menu ul {
  position: absolute;
  top: 1.1rem;
  right: -40px;
  display: none;
  flex-direction: column;
  padding: 10px 40px 10px;
  animation: fadeIn_dd_menu 0.3s ease-in-out;
}
header .header_2 nav .srv_dd_menu ul li {
  display: flex;
  justify-content: flex-end;
}
header .header_2 nav .srv_dd_menu ul li a {
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid #ffffff;
  transition: all 0.2s ease;
  white-space: nowrap;
  font-family: "McLaren", cursive;
  font-weight: 400;
  font-size: 0.9rem;
}
header .header_2 nav .srv_dd_menu ul li:hover > a {
  padding: 10px 30px 10px 30px;
}
header .header_3 {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}
header .header_3 button {
  outline: transparent;
  padding: 6px 12px;
  font-size: 0.9rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.14);
  color: rgba(255, 255, 255, 0.85);
  font-family: "Molengo", sans-serif;
  border-radius: 30px;
}

main .appointment_contact_info {
  margin-top: 20px;
  padding: 0 10px;
  font-size: 0.8rem;
  font-family: "Armata", sans-serif;
  text-align: center;
}
main .appointment_contact_info span {
  white-space: nowrap;
}
main .section-header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}
main .section-header div {
  flex-grow: 1;
  max-width: 200px;
  border-top: 3px solid #785172;
}
main .section-header h2 {
  font-size: 1rem;
  font-family: "Delius", cursive;
  font-weight: 400;
}
main .our_services-section {
  margin-top: 16px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 14px 0;
}
main .our_services-section .service_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(50% - 10px);
  gap: 6px;
}
main .our_services-section .service_item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
}
main .our_services-section .service_item h4 {
  padding-left: 4px;
  font-family: "McLaren", cursive;
  font-weight: 400;
  font-size: 0.9rem;
  cursor: pointer;
}
main .our_services-section .service_item h4:hover {
  text-decoration: underline;
}
main .our_services-section .service_item p {
  display: none;
  padding: 0 8px;
  font-size: 1rem;
  font-family: "Gowun Batang", serif;
}
main .our_services-section .service_item button {
  outline: transparent;
  margin-top: auto;
  padding: 4px 16px;
  font-size: 0.8rem;
  border: 2px solid #785172;
  background-color: #323232;
  border-radius: 20px;
  font-family: "Mukta", sans-serif;
  color: #ffffff;
  cursor: pointer;
}
main .our_services-section .service_item button:hover {
  border: 2px solid #b430a0;
  box-shadow: 0px 0px 10px 3px rgba(180, 48, 160, 0.2);
}
main .testimonial-section {
  margin-top: 16px;
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}
main .testimonial-section .testimonial-carousel {
  display: flex;
  align-items: center;
}
@keyframes fadeIn_testimonial {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main .testimonial-section .testimonial-carousel .testimonial {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  visibility: hidden;
}
main .testimonial-section .testimonial-carousel .testimonial .customerComment {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
main .testimonial-section .testimonial-carousel .testimonial .customerFullname {
  margin-top: 12px;
  font-size: 1.2rem;
  font-family: "Bhavuka", sans-serif;
}
main .testimonial-section .testimonial-carousel .testimonial.active {
  visibility: visible;
  animation: fadeIn_testimonial 0.6s ease-in-out;
}
main .testimonial-section .testimonial-slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
main .testimonial-section .testimonial-slider .dot {
  background-color: #6e6e6e;
  border-radius: 4px;
  width: 20px;
  height: 5px;
  cursor: pointer;
}
main .testimonial-section .testimonial-slider .dot.active {
  background-color: #ffffff;
  height: 6px;
}
main .gallery-section {
  padding: 0 10px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-evenly;
}
main .gallery-section .gallery-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 90px;
}
main .gallery-section .gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
main .gallery-section .gallery_showmore {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
main .gallery-section .gallery_showmore button {
  outline: transparent;
  font-family: "Delius", cursive;
  padding: 10px 30px;
  font-size: 1rem;
  color: #ffffff;
  border: 2px solid #785172;
  background-color: #323232;
  border-radius: 20px;
  cursor: pointer;
}
main .gallery-section .gallery_showmore button:hover {
  border: 2px solid #b430a0;
  box-shadow: 0px 0px 10px 3px rgba(180, 48, 160, 0.2);
}

footer {
  margin-top: 20px;
  background-color: #262626;
  display: flex;
  flex-direction: column;
}
footer .about_us {
  padding: 20px 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px 10%;
  font-size: 14px;
}
footer .about_us .contact-cont {
  order: 2;
  display: flex;
  flex-direction: column;
}
footer .about_us .contact-cont h5 {
  font-size: 1.3em;
  font-family: "Della Respira", serif;
  font-weight: 400;
  margin-bottom: 14px;
}
footer .about_us .contact-cont .contact_details {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  gap: 12px;
}
footer .about_us .contact-cont .contact_details .contact_item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}
footer .about_us .contact-cont .contact_details .contact_item .contact_icon {
  display: flex;
  font-size: 1.1em;
}
footer .about_us .contact-cont .contact_details .contact_item span {
  font-size: 1em;
  font-family: "Della Respira", serif;
}
footer .about_us .workplace-cont {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .about_us .workplace-cont .workplace_on_map img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
footer .about_us .workplace-cont .workplace_photos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .about_us .workplace-cont .workplace_photos img {
  width: 48%;
  height: auto;
  border-radius: 8px;
}
footer .copyright {
  padding: 10px 10px;
  text-align: center;
  background-color: #323232;
  font-family: "Della Respira", serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  header {
    height: 380px;
  }
  header::before {
    background-position: right center;
  }
  header .header_1 {
    position: relative;
    justify-content: center;
    padding: 10px 4%;
    height: 50px;
  }
  header .header_1 .business_name {
    font-size: 1.2rem;
  }
  header .header_1 .drawer_btn {
    display: none;
  }
  header .header_1 .balance-cont {
    display: flex;
  }
  header .header_2 {
    padding: 16px 4%;
  }
  header .header_2 .brand_name {
    font-size: 1.6rem;
  }
  header .header_2 nav {
    display: flex;
  }
  header .header_3 {
    padding: 30px 4%;
  }
  header .header_3 button {
    padding: 16px 26px;
    font-size: 1.3rem;
    border: 2px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.14);
    color: rgba(255, 255, 255, 0.7);
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.1s ease;
  }
  header .header_3 button:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.9);
  }
  main .appointment_contact_info {
    margin-top: 50px;
    font-size: 1.2rem;
  }
  main .section-header {
    margin-top: 50px;
    gap: 20px;
  }
  main .section-header h2 {
    font-size: 1.4rem;
  }
  main .our_services-section {
    margin-top: 25px;
    padding: 0 4%;
    gap: 24px 0;
  }
  main .our_services-section .service_item {
    width: calc(33.3% - 30px);
    gap: 14px;
  }
  main .our_services-section .service_item h4 {
    font-size: 1.1rem;
    padding-left: 8px;
  }
  main .our_services-section .service_item p {
    display: block;
  }
  main .our_services-section .service_item button {
    padding: 8px 28px;
    font-size: 1.1rem;
    border-radius: 8px;
  }
  main .testimonial-section {
    margin-top: 25px;
    padding: 10px 4% 0;
  }
  main .gallery-section {
    margin-top: 25px;
    padding: 0 4%;
    gap: 14px 20px;
  }
  main .gallery-section .gallery-item {
    width: 200px;
  }
  main .gallery-section .gallery-item img {
    border-radius: 8px;
  }
  main .gallery-section .gallery_showmore button {
    padding: 12px 40px;
    font-size: 1.4rem;
  }
  footer .about_us {
    padding: 40px 4% 50px;
    font-size: 18px;
  }
  footer .about_us .contact-cont h5 {
    margin-bottom: 18px;
  }
  footer .about_us .contact-cont .contact_details {
    padding-left: 12px;
    gap: 16px;
  }
  footer .about_us .contact-cont .contact_details .contact_item {
    gap: 12px;
  }
  footer .copyright {
    padding: 20px 4%;
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  header {
    height: 450px;
  }
  main .our_services-section .service_item {
    width: calc(33.3% - 40px);
  }
  footer .about_us {
    flex-direction: row;
    font-size: 20px;
  }
  footer .about_us .contact-cont {
    order: 1;
  }
  footer .about_us .contact-cont h5 {
    margin-bottom: 24px;
  }
  footer .about_us .contact-cont .contact_details {
    gap: 20px;
  }
  footer .about_us .workplace-cont {
    order: 2;
    gap: 20px;
  }
}/*# sourceMappingURL=global.css.map */