.submit_button {
  padding: 6px 16px;
  outline: transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #ffffff;
  background-color: #3d8a3a;
  transition: background-color 0.1s ease;
  font-family: "Mukta", sans-serif;
  font-size: 1.2em;
}
.submit_button:hover {
  background-color: #55a553;
}

.save_all-cont {
  padding: 10px 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.save_all-cont button.loading {
  cursor: default;
}
.save_all-cont button {
  padding: 0 20px;
  outline: transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #3d8a3a;
  transition: background-color 0.1s ease;
  font-family: "Mukta", sans-serif;
  height: 60px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.4em;
}
.save_all-cont button:hover {
  background-color: #55a553;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.save_all-cont button svg {
  display: flex;
  color: #ffffff;
  font-size: 2em;
}
.save_all-cont button .loading_svg {
  animation: spin 2s linear infinite;
}

.cms_container {
  background-color: #ffffff;
  color: #000000;
  --cms-border-color1: #a1a1a1;
  --cms-border-color2: #a1a1a1;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 16px;
}
.cms_container .cms_drawer-cont.active {
  display: block;
}
.cms_container .cms_drawer-cont {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
@keyframes slideIn_cmsdrawer {
  from {
    left: -30%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.cms_container .cms_drawer-cont .cms_drawer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  max-width: 80%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  gap: 10px;
  animation: slideIn_cmsdrawer 0.1s ease-in-out;
}
.cms_container .cms_drawer-cont .cms_drawer .close-cms_drawer-btn {
  padding: 14px;
  align-self: flex-end;
  font-size: 2em;
}
.cms_container .cms_drawer-cont .cms_drawer > h3 {
  font-size: 1.6em;
  padding: 0 40px 0 20px;
  font-family: "McLaren", cursive;
  font-weight: 400;
}
.cms_container .cms_drawer-cont .cms_drawer .panel_list {
  margin-bottom: 10px;
}
.cms_container .cms_drawer-cont .cms_drawer .panel_list li a {
  cursor: pointer;
  padding: 10px 40px 10px 20px;
  transition: background-color 0.1s ease;
  font-size: 1.4em;
  font-family: "Bhavuka", sans-serif;
}
.cms_container .cms_drawer-cont .cms_drawer .panel_list li a:hover {
  background-color: #e5e5e5;
}
.cms_container .cms_drawer-cont .cms_drawer .option_list li {
  cursor: pointer;
  padding: 10px 40px 10px 20px;
  transition: background-color 0.1s ease;
  font-size: 1.4em;
  font-family: "Bhavuka", sans-serif;
}
.cms_container .cms_drawer-cont .cms_drawer .option_list li:hover {
  background-color: #e5e5e5;
}
.cms_container nav {
  display: none;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  position: sticky;
  top: 0;
  overflow-y: auto;
  height: 100vh;
  border-right: 2px solid var(--cms-border-color1);
}
.cms_container nav > h3 {
  font-size: 1.6em;
  padding: 0 40px 0 20px;
  font-family: "McLaren", cursive;
  font-weight: 400;
}
.cms_container nav .panel_list {
  margin-bottom: 10px;
}
.cms_container nav .panel_list li a {
  cursor: pointer;
  padding: 10px 40px 10px 20px;
  transition: background-color 0.1s ease;
  font-size: 1.4em;
  font-family: "Bhavuka", sans-serif;
}
.cms_container nav .panel_list li a:hover {
  background-color: #e5e5e5;
}
.cms_container nav .option_list li {
  cursor: pointer;
  padding: 10px 40px 10px 20px;
  transition: background-color 0.1s ease;
  font-size: 1.4em;
  font-family: "Bhavuka", sans-serif;
}
.cms_container nav .option_list li:hover {
  background-color: #e5e5e5;
}
.cms_container .cms_panel-cont {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cms_container .cms_panel-cont header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 8px 2%;
  background-color: #ffffff;
  border-bottom: 2px solid var(--cms-border-color1);
}
.cms_container .cms_panel-cont header .cms_drawer-btn {
  display: flex;
  font-size: 3em;
}
.cms_container .cms_panel-cont main {
  padding: 10px 2%;
}
.cms_container .cms_panel-cont main .cms_main-title {
  margin: 20px 0;
  text-align: center;
  font-family: "Delius", cursive;
  font-weight: 400;
  font-size: 1.4em;
}

.cms-login-cont {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 20vh 0;
}
.cms-login-cont > h3 {
  font-size: 1.6em;
  font-family: "Delius", cursive;
  font-weight: 400;
}
.cms-login-cont form {
  padding: 20px 16px;
  width: 300px;
  max-width: 90%;
  background-color: #ffffff;
  border: 1px solid var(--cms-border-color1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.cms-login-cont form .form_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cms-login-cont form .form_inputs input {
  outline: transparent;
  padding: 10px 16px;
  font-size: 1.1em;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid var(--cms-border-color2);
}
.cms-login-cont form button {
  outline: transparent;
  font-size: 1.2em;
  padding: 8px 26px;
  border-radius: 6px;
  border: 1px solid #bcbcbc;
  background-color: #349544;
  transition: background-color 0.1s ease-in-out;
  color: #ffffff;
  cursor: pointer;
}
.cms-login-cont form button:hover {
  background-color: #50a55e;
}

.cms_main-testimonials {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cms_main-testimonials input,
.cms_main-testimonials textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.cms_main-testimonials .new_testimonial {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cms_main-testimonials .new_testimonial form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
}
.cms_main-testimonials .new_testimonial form input,
.cms_main-testimonials .new_testimonial form textarea {
  outline: transparent;
  border: none;
  border-radius: 6px;
  border: 1px solid var(--cms-border-color1);
  color: #000000;
}
.cms_main-testimonials .new_testimonial form .fullName {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1.3em;
}
.cms_main-testimonials .new_testimonial form .content {
  width: 100%;
  min-height: 70px;
  padding: 10px;
  font-size: 1.1em;
}
.cms_main-testimonials > h3 {
  padding: 40px 0;
  text-align: center;
  font-size: 1.4em;
}
.cms_main-testimonials .testimonial_list {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--cms-border-color1);
  border-bottom: none;
}
.cms_main-testimonials .testimonial_list .testimonial-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--cms-border-color1);
}
.cms_main-testimonials .testimonial_list .testimonial-item > span.fullName {
  font-size: 1.5em;
  font-family: "Bhavuka", sans-serif;
}
.cms_main-testimonials .testimonial_list .testimonial-item > p.content {
  font-size: 1.3em;
  font-family: "Bhavuka", sans-serif;
}
.cms_main-testimonials .testimonial_list .testimonial-item .update_testimonial {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
}
.cms_main-testimonials .testimonial_list .testimonial-item .update_testimonial input,
.cms_main-testimonials .testimonial_list .testimonial-item .update_testimonial textarea {
  outline: transparent;
  border: none;
  border: 1px solid var(--cms-border-color1);
  border-radius: 6px;
}
.cms_main-testimonials .testimonial_list .testimonial-item .update_testimonial .fullName {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1.3em;
}
.cms_main-testimonials .testimonial_list .testimonial-item .update_testimonial .content {
  width: 100%;
  min-height: 70px;
  padding: 10px;
  font-size: 1.1em;
}
.cms_main-testimonials .testimonial_list .testimonial-item .update_testimonial .update_testimonial_options {
  display: inline;
}
.cms_main-testimonials .testimonial_list .testimonial-item .update_testimonial .update_testimonial_options button {
  padding: 4px 10px;
  outline: transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #ffffff;
  font-family: "Mukta", sans-serif;
  font-size: 1em;
  transition: background-color 0.1s ease;
  background-color: #3d8a3a;
}
.cms_main-testimonials .testimonial_list .testimonial-item .update_testimonial .update_testimonial_options button:hover {
  background-color: #55a553;
}
.cms_main-testimonials .testimonial_list .testimonial-item .update_testimonial .update_testimonial_options button[type=reset] {
  margin-right: 30px;
  background-color: #a82b2b;
}
.cms_main-testimonials .testimonial_list .testimonial-item .update_testimonial .update_testimonial_options button[type=reset]:hover {
  background-color: #af4949;
}
.cms_main-testimonials .testimonial_list .testimonial-item .options {
  margin-top: 6px;
  padding: 0 10px;
}
.cms_main-testimonials .testimonial_list .testimonial-item .options span {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.cms_main-testimonials .testimonial_list .testimonial-item .options span:hover {
  text-decoration: underline;
}
.cms_main-testimonials .testimonial_list .testimonial-item .options .delete {
  color: #f62424;
  margin-right: 40px;
}
.cms_main-testimonials .testimonial_list .testimonial-item .options .update {
  color: #38bf4e;
}

.cms_main-offers {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cms_main-offers .new_combo_discount {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cms_main-offers .new_combo_discount form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
}
.cms_main-offers .new_combo_discount form .combination {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  font-size: 1.3em;
  outline: transparent;
  border: none;
  border: 1px solid var(--cms-border-color1);
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.cms_main-offers > h3 {
  padding: 40px 0;
  text-align: center;
  font-size: 1.4em;
}
.cms_main-offers .combination_list {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--cms-border-color1);
  border-bottom: none;
}
.cms_main-offers .combination_list .combo-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--cms-border-color1);
}
.cms_main-offers .combination_list .combo-item > span.combination {
  font-size: 1.5em;
  font-family: "Bhavuka", sans-serif;
}
.cms_main-offers .combination_list .combo-item .options {
  margin-top: 6px;
  padding: 0 10px;
}
.cms_main-offers .combination_list .combo-item .options .delete {
  color: #f62424;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.cms_main-offers .combination_list .combo-item .options .delete:hover {
  text-decoration: underline;
}

.cms_main-our_services {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cms_main-our_services .new_service {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cms_main-our_services .new_service form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
}
.cms_main-our_services .new_service form input,
.cms_main-our_services .new_service form select {
  padding: 10px;
  font-size: 1.3em;
  outline: transparent;
  border: none;
  border: 1px solid var(--cms-border-color1);
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.cms_main-our_services .new_service form input {
  width: 100%;
  max-width: 600px;
}
.cms_main-our_services > h3 {
  padding: 40px 0;
  text-align: center;
  font-size: 1.4em;
}
.cms_main-our_services .our_services_cont {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cms_main-our_services .our_services_cont .our_services_list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--cms-border-color2);
}
.cms_main-our_services .our_services_cont .our_services_list-item .cateName {
  padding: 10px;
  font-size: 1.4em;
  font-family: "McLaren", cursive;
  font-weight: 400;
  color: #00ecff;
  border-bottom: 1px solid var(--cms-border-color2);
}
.cms_main-our_services .our_services_cont .our_services_list-item .service-item {
  border-bottom: 1px solid var(--cms-border-color2);
}
.cms_main-our_services .our_services_cont .our_services_list-item .service-item:last-child {
  border-bottom: none;
}
.cms_main-our_services .our_services_cont .our_services_list-item .service-item .service-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 20px;
  border-bottom: 1px solid var(--cms-border-color1);
}
.cms_main-our_services .our_services_cont .our_services_list-item .service-item .service-wrap > span.serviceName {
  font-size: 1.5em;
  font-family: "Bhavuka", sans-serif;
}
.cms_main-our_services .our_services_cont .our_services_list-item .service-item .service-wrap > .delete {
  padding: 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 1.2em;
  font-family: "Bhavuka", sans-serif;
  color: #f62424;
}
.cms_main-our_services .our_services_cont .our_services_list-item .service-item .service-wrap > .delete:hover {
  text-decoration: underline;
}
.cms_main-our_services .our_services_cont .our_services_list-item .service-item .mini_gallery {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px 16px;
}
.cms_main-our_services .our_services_cont .our_services_list-item .service-item .mini_gallery .img_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.cms_main-our_services .our_services_cont .our_services_list-item .service-item .mini_gallery .img_wrap img {
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  cursor: pointer;
  border-radius: 4px;
}
.cms_main-our_services .our_services_cont .our_services_list-item .service-item .mini_gallery .img_wrap .delete {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 1.2em;
  font-family: "Bhavuka", sans-serif;
  text-align: center;
  color: #f62424;
}
.cms_main-our_services .our_services_cont .our_services_list-item .service-item .mini_gallery .img_wrap .delete:hover {
  text-decoration: underline;
}
.cms_main-our_services .our_services_cont .our_services_list-item .service-item .mini_gallery .add_image {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.cms_main-our_services .our_services_cont .our_services_list-item .service-item .mini_gallery .add_image label svg {
  display: flex;
  width: 45px;
  height: 45px;
  color: #979797;
  transition: color 0.1s ease;
  cursor: pointer;
}
.cms_main-our_services .our_services_cont .our_services_list-item .service-item .mini_gallery .add_image label svg:hover {
  color: #636363;
}
.cms_main-our_services .our_services_cont .our_services_list-item .service_list_empty {
  padding: 10px 20px;
  font-size: 1.5em;
  font-family: "Bhavuka", sans-serif;
  color: #ff9f9f;
}

.cms_main-gallery {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}
.cms_main-gallery .new_image {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cms_main-gallery .new_image form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
}
.cms_main-gallery .new_image form input {
  padding: 10px;
  font-size: 1.3em;
  outline: transparent;
  border: none;
  border: 1px solid var(--cms-border-color1);
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  width: 100%;
}
.cms_main-gallery .new_image form .description {
  width: 100%;
}
.cms_main-gallery > h3 {
  padding: 40px 0;
  text-align: center;
  font-size: 1.4em;
}
.cms_main-gallery .gallery-cont .gallery-item .gallery_item_details .delete {
  align-self: flex-start;
  color: #f62424;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 6px;
}
.cms_main-gallery .gallery-cont .gallery-item .gallery_item_details .delete:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .cms_container nav {
    display: flex;
  }
  .cms_container .cms_panel-cont header {
    display: none;
  }
  .cms_container .cms_panel-cont main .cms_main-title {
    font-size: 1.8rem;
  }
  .cms_main-our_services .our_services_cont .our_services_list-item .service-item .service-wrap {
    gap: 40px;
    justify-content: flex-start;
  }
  .cms_main-our_services .our_services_cont .our_services_list-item .service-item .mini_gallery {
    justify-content: flex-start;
  }
  .cms_main-gallery .new_image form input {
    width: unset;
  }
}/*# sourceMappingURL=cms.css.map */