.cms_container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.cms_container .cms_drawer-cont.active {
  display: block;
}
.cms_container .cms_drawer-cont {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
@keyframes slideIn {
  from {
    left: -30%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.cms_container .cms_drawer-cont .cms_drawer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  max-width: 80%;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  gap: 10px;
  animation: slideIn 0.1s ease-in-out;
}
.cms_container .cms_drawer-cont .cms_drawer .close-cms_drawer-btn {
  padding: 14px;
  align-self: flex-end;
  font-size: 2rem;
}
.cms_container .cms_drawer-cont .cms_drawer > h3 {
  font-size: 1.6rem;
  padding: 0 40px 0 20px;
  font-family: "McLaren", cursive;
  font-weight: 400;
}
.cms_container .cms_drawer-cont .cms_drawer .panel_list {
  margin-bottom: 10px;
}
.cms_container .cms_drawer-cont .cms_drawer .panel_list li a {
  cursor: pointer;
  padding: 10px 40px 10px 20px;
  transition: background-color 0.1s ease;
  font-size: 1.4rem;
  font-family: "Bhavuka", sans-serif;
}
.cms_container .cms_drawer-cont .cms_drawer .panel_list li a:hover {
  background-color: #444444;
}
.cms_container .cms_drawer-cont .cms_drawer .option_list li {
  cursor: pointer;
  padding: 10px 40px 10px 20px;
  transition: background-color 0.1s ease;
  font-size: 1.4rem;
  font-family: "Bhavuka", sans-serif;
}
.cms_container .cms_drawer-cont .cms_drawer .option_list li:hover {
  background-color: #444444;
}
.cms_container nav {
  display: none;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  position: sticky;
  top: 0;
  overflow-y: auto;
  height: 100vh;
  border-right: 2px solid #444444;
}
.cms_container nav > h3 {
  font-size: 1.6rem;
  padding: 0 40px 0 20px;
  font-family: "McLaren", cursive;
  font-weight: 400;
}
.cms_container nav .panel_list {
  margin-bottom: 10px;
}
.cms_container nav .panel_list li a {
  cursor: pointer;
  padding: 10px 40px 10px 20px;
  transition: background-color 0.1s ease;
  font-size: 1.4rem;
  font-family: "Bhavuka", sans-serif;
}
.cms_container nav .panel_list li a:hover {
  background-color: #444444;
}
.cms_container nav .option_list li {
  cursor: pointer;
  padding: 10px 40px 10px 20px;
  transition: background-color 0.1s ease;
  font-size: 1.4rem;
  font-family: "Bhavuka", sans-serif;
}
.cms_container nav .option_list li:hover {
  background-color: #444444;
}
.cms_container .cms_panel-cont {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cms_container .cms_panel-cont header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 8px 2%;
}
.cms_container .cms_panel-cont header .cms_drawer-btn {
  display: flex;
  font-size: 3rem;
}
.cms_container .cms_panel-cont main {
  padding: 10px 2%;
}
.cms_container .cms_panel-cont main .cms_main-title {
  margin: 20px 0;
  text-align: center;
  font-family: "Delius", cursive;
  font-weight: 400;
  font-size: 2rem;
}

.cms-login-cont {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 20vh 0;
}
.cms-login-cont > h3 {
  font-size: 1.6rem;
  font-family: "Delius", cursive;
  font-weight: 400;
}
.cms-login-cont form {
  padding: 20px 16px;
  width: 300px;
  max-width: 90%;
  background-color: #444444;
  border-radius: 10px;
  border: 1px solid #bcbcbc;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.cms-login-cont form .form_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cms-login-cont form .form_inputs input {
  outline: transparent;
  padding: 10px 16px;
  font-size: 1.1rem;
  border-radius: 6px;
  background-color: #323232;
  border: 1px solid #bcbcbc;
  color: #ffffff;
}
.cms-login-cont form button {
  outline: transparent;
  font-size: 1.2rem;
  padding: 8px 26px;
  border-radius: 6px;
  border: 1px solid #bcbcbc;
  background-color: #349544;
  transition: background-color 0.1s ease-in-out;
  color: #ffffff;
  cursor: pointer;
}
.cms-login-cont form button:hover {
  background-color: #50a55e;
}

.csm_main-testimonials {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.csm_main-testimonials input,
.csm_main-testimonials textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.csm_main-testimonials .new_testimonial {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.csm_main-testimonials .new_testimonial .inputs {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
}
.csm_main-testimonials .new_testimonial .inputs input,
.csm_main-testimonials .new_testimonial .inputs textarea {
  outline: transparent;
  border: none;
  background-color: #444444;
  border-radius: 6px;
  color: #ffffff;
}
.csm_main-testimonials .new_testimonial .inputs .fullName {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1.3rem;
}
.csm_main-testimonials .new_testimonial .inputs .content {
  width: 100%;
  min-height: 70px;
  padding: 10px;
  font-size: 1.1rem;
}
.csm_main-testimonials .new_testimonial .inputs button {
  padding: 6px 16px;
  outline: transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #ffffff;
  background-color: #3d8a3a;
  transition: background-color 0.1s ease;
  font-family: "Mukta", sans-serif;
  font-size: 1.2rem;
}
.csm_main-testimonials .new_testimonial .inputs button:hover {
  background-color: #55a553;
}
.csm_main-testimonials > h3 {
  padding: 40px 0;
  text-align: center;
  font-size: 1.4rem;
}
.csm_main-testimonials .testimonial_list {
  display: flex;
  flex-direction: column;
  border: 1px solid #444444;
  border-bottom: none;
}
.csm_main-testimonials .testimonial_list .testimonial-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #444444;
  /*.fullName.inactive,
  .content.inactive {
      display: none;
  }*/
  /*.update_testimonial.active {
      display: flex;
  }*/
}
.csm_main-testimonials .testimonial_list .testimonial-item .fullName {
  font-size: 1.4rem;
}
.csm_main-testimonials .testimonial_list .testimonial-item .content {
  font-size: 1.2rem;
}
.csm_main-testimonials .testimonial_list .testimonial-item .update_testimonial {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
}
.csm_main-testimonials .testimonial_list .testimonial-item .update_testimonial input,
.csm_main-testimonials .testimonial_list .testimonial-item .update_testimonial textarea {
  outline: transparent;
  border: none;
  background-color: #444444;
  border-radius: 6px;
  color: #ffffff;
}
.csm_main-testimonials .testimonial_list .testimonial-item .update_testimonial .fullName {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1.3rem;
}
.csm_main-testimonials .testimonial_list .testimonial-item .update_testimonial .content {
  width: 100%;
  min-height: 70px;
  padding: 10px;
  font-size: 1.1rem;
}
.csm_main-testimonials .testimonial_list .testimonial-item .update_testimonial .update_testimonial_options {
  display: inline;
}
.csm_main-testimonials .testimonial_list .testimonial-item .update_testimonial .update_testimonial_options button {
  padding: 4px 10px;
  outline: transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #ffffff;
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  transition: background-color 0.1s ease;
  background-color: #3d8a3a;
}
.csm_main-testimonials .testimonial_list .testimonial-item .update_testimonial .update_testimonial_options button:hover {
  background-color: #55a553;
}
.csm_main-testimonials .testimonial_list .testimonial-item .update_testimonial .update_testimonial_options button[type=reset] {
  margin-right: 30px;
  background-color: #a82b2b;
}
.csm_main-testimonials .testimonial_list .testimonial-item .update_testimonial .update_testimonial_options button[type=reset]:hover {
  background-color: #af4949;
}
.csm_main-testimonials .testimonial_list .testimonial-item .options {
  margin-top: 6px;
  padding: 0 10px;
}
.csm_main-testimonials .testimonial_list .testimonial-item .options span {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.csm_main-testimonials .testimonial_list .testimonial-item .options span:hover {
  text-decoration: underline;
}
.csm_main-testimonials .testimonial_list .testimonial-item .options .delete {
  color: #f62424;
  margin-right: 40px;
}
.csm_main-testimonials .testimonial_list .testimonial-item .options .update {
  color: #38bf4e;
}
.csm_main-testimonials .save-cont {
  padding: 10px 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.csm_main-testimonials .save-cont button {
  padding: 10px 20px;
  outline: transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #ffffff;
  background-color: #3d8a3a;
  transition: background-color 0.1s ease;
  font-family: "Mukta", sans-serif;
  font-size: 1.4rem;
}
.csm_main-testimonials .save-cont button:hover {
  background-color: #55a553;
}

@media (min-width: 768px) {
  .cms_container nav {
    display: flex;
  }
  .cms_container .cms_panel-cont header {
    display: none;
  }
}/*# sourceMappingURL=cms.css.map */