.gallery-header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;

    div {
        flex-grow: 1;
        max-width: 400px;
        border-top: 3px solid #785172;
    }

    h1 {
        font-size: 1.3rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
}


.gallery-cont {
    padding: 0 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .gallery-item {
        display: inline-block;

        .image-wrap {
            width: 100%;
            max-width: 100%;
            cursor: pointer;

            img {
                width: 100%;
                max-width: 100%;
                object-fit: contain;
                border-radius: 4px;
            }
        }

        .gallery_item_details {
            width: min-content;
            min-width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
            font-size: 18px;

            p {
                font-size: 1em;
                font-family: "Montserrat", sans-serif;
            }

            span {
                font-size: 0.8em;
                font-family: "Armata", sans-serif;
            }
        }
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .gallery-header {
        margin-top: 30px;
        padding: 0 4%;

        h1 {
            font-size: 1.7rem;
        }
    }

    .gallery-cont {
        margin-top: 30px;
        padding: 0 4%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 30px 20px;

        .gallery-item {

            .image-wrap {
                width: unset;

                img {
                    width: unset;
                    height: 240px;
                    transition: all 0.1s ease-in-out;

                    &:hover {
                        transform: scale(1.05);
                        margin-bottom: 6px;
                    }
                }
            }

            .gallery_item_details {
                font-size: 20px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .gallery-cont {
        .gallery-item {
            .image-wrap {
                img {
                    height: 300px;
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}