.gallery-header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;

    div {
        flex-grow: 1;
        max-width: 400px;
        border-top: 3px solid #785172;
    }

    h1 {
        font-size: 1.3rem;
        font-family: 'Delius', cursive;
        font-weight: 400;
    }
}


.gallery-cont {
    padding: 0 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .gallery-item {
        display: inline-block;

        img {
            max-height: 300px;
            max-width: 100%;
            object-fit: contain;
            border-radius: 4px;
            cursor: pointer;
        }

        .gallery_item_details {
            width: min-content;
            min-width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;

            p {
                font-size: 1rem;
                font-family: "Montserrat", sans-serif;
            }

            span {
                font-size: 0.8rem;
                font-family: "Armata", sans-serif;
            }
        }
    }
}


.image_scaleup.active {
    display: flex;
}

.image_scaleup {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    user-select: none;

    justify-content: center;
    align-items: center;

    .sclup-close {
        position: absolute;
        top: 20px;
        right: 30px;
        z-index: 101;
        cursor: pointer;
        display: flex;
        font-size: 1.6rem;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid #ffffff;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(1px);
        transition: background-color 0.1s ease-in-out;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    img {
        max-height: 90%;
        max-width: 90%;
        object-fit: contain;
        border-radius: 8px;
    }

    .image-error {
        height: 80%;
        width: 400px;
        max-width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Delius", cursive;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 12px;
        font-size: 1.2rem;
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .gallery-header {
        margin-top: 30px;
        padding: 0 4%;

        h1 {
            font-size: 1.7rem;
        }
    }

    .gallery-cont {
        margin-top: 30px;
        padding: 0 4%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 30px 10px;

        .gallery-item {
            img {
                height: 300px;
                transition: all 0.1s ease-in-out;

                &:hover {
                    max-height: 320px;
                    height: 320px;
                }
            }

            .gallery_item_details {
                p {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .gallery-cont {
        .gallery-item {
            img {
                height: 400px;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}