* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  position: relative;
}

ul,
ol,
li,
b,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: block;
}

a {
  color: unset;
}
a:hover {
  color: unset;
}

select {
  outline: none;
  border: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: #323232;
  color: #ffffff;
}

main {
  min-height: 500px;
}
main .appointment_contact_info {
  margin-top: 20px;
  padding: 0 10px;
  font-size: 0.8rem;
  font-family: "Armata", sans-serif;
  text-align: center;
}
main .appointment_contact_info span {
  white-space: nowrap;
}
main .section-header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}
main .section-header div {
  flex-grow: 1;
  max-width: 200px;
  border-top: 3px solid #785172;
}
main .section-header h2 {
  font-size: 1rem;
  font-family: "Delius", cursive;
  font-weight: 400;
}
main .our_services-section {
  margin-top: 16px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 14px 0;
}
main .our_services-section .service_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(50% - 10px);
  gap: 6px;
}
main .our_services-section .service_item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
}
main .our_services-section .service_item h4 {
  padding-left: 4px;
  font-family: "McLaren", cursive;
  font-weight: 400;
  font-size: 0.9rem;
  cursor: pointer;
}
main .our_services-section .service_item h4:hover {
  text-decoration: underline;
}
main .our_services-section .service_item p {
  display: none;
  padding: 0 8px;
  font-size: 1rem;
  font-family: "Gowun Batang", serif;
}
main .our_services-section .service_item button {
  outline: transparent;
  margin-top: auto;
  padding: 4px 16px;
  font-size: 0.8rem;
  border: 2px solid #785172;
  background-color: #323232;
  border-radius: 20px;
  font-family: "Mukta", sans-serif;
  color: #ffffff;
  cursor: pointer;
}
main .our_services-section .service_item button:hover {
  border: 2px solid #b430a0;
  box-shadow: 0px 0px 10px 3px rgba(180, 48, 160, 0.2);
}
main .testimonial-section {
  margin-top: 16px;
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}
main .testimonial-section .testimonial-carousel {
  display: flex;
  align-items: center;
}
@keyframes fadeIn_testimonial {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main .testimonial-section .testimonial-carousel .testimonial {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  visibility: hidden;
}
main .testimonial-section .testimonial-carousel .testimonial .customerComment {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
main .testimonial-section .testimonial-carousel .testimonial .customerFullname {
  margin-top: 12px;
  font-size: 1.2rem;
  font-family: "Bhavuka", sans-serif;
}
main .testimonial-section .testimonial-carousel .testimonial.active {
  visibility: visible;
  animation: fadeIn_testimonial 0.6s ease-in-out;
}
main .testimonial-section .testimonial-slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
main .testimonial-section .testimonial-slider .dot {
  background-color: #6e6e6e;
  border-radius: 4px;
  width: 20px;
  height: 5px;
  cursor: pointer;
}
main .testimonial-section .testimonial-slider .dot.active {
  background-color: #ffffff;
  height: 6px;
}
main .gallery-section {
  padding: 0 10px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-evenly;
}
main .gallery-section .gallery-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 90px;
}
main .gallery-section .gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
main .gallery-section .gallery_showmore {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
main .gallery-section .gallery_showmore a {
  outline: transparent;
  font-family: "Delius", cursive;
  padding: 10px 30px;
  font-size: 1rem;
  color: #ffffff;
  border: 2px solid #785172;
  background-color: #323232;
  border-radius: 20px;
  cursor: pointer;
}
main .gallery-section .gallery_showmore a:hover {
  border: 2px solid #b430a0;
  box-shadow: 0px 0px 10px 3px rgba(180, 48, 160, 0.2);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  main .appointment_contact_info {
    margin-top: 50px;
    font-size: 1.2rem;
  }
  main .section-header {
    margin-top: 50px;
    gap: 20px;
  }
  main .section-header h2 {
    font-size: 1.4rem;
  }
  main .our_services-section {
    margin-top: 25px;
    padding: 0 4%;
    gap: 24px 0;
  }
  main .our_services-section .service_item {
    width: calc(33.3% - 30px);
    gap: 14px;
  }
  main .our_services-section .service_item h4 {
    font-size: 1.1rem;
    padding-left: 8px;
  }
  main .our_services-section .service_item p {
    display: block;
  }
  main .our_services-section .service_item button {
    padding: 8px 28px;
    font-size: 1.1rem;
    border-radius: 8px;
  }
  main .testimonial-section {
    margin-top: 25px;
    padding: 10px 4% 0;
  }
  main .gallery-section {
    margin-top: 25px;
    padding: 0 4%;
    gap: 14px 20px;
  }
  main .gallery-section .gallery-item {
    width: 200px;
  }
  main .gallery-section .gallery-item img {
    border-radius: 8px;
  }
  main .gallery-section .gallery_showmore a {
    padding: 12px 40px;
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  main .our_services-section .service_item {
    width: calc(33.3% - 40px);
  }
}/*# sourceMappingURL=global.css.map */