// GENERAL SETTINGS

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    position: relative;
}

ul,
ol,
li,
b,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: block;
}

a {
    color: unset;

    &:hover {
        color: unset;
    }
}

select {
    outline: none;
    border: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: #323232;
    color: #ffffff;
}


// UTILITY


// CONTENT


main {
    min-height: 500px;
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}