

// CONTENT

.appointment_contact_info {
    margin-top: 20px;
    padding: 0 10px;
    font-size: 0.8rem;
    font-family: 'Armata', sans-serif;
    text-align: center;

    span {
        white-space: nowrap;
    }
}

.section-header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;

    div {
        flex-grow: 1;
        max-width: 200px;
        border-top: 3px solid #785172;
    }

    h2 {
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
}

.our_services-section {
    margin-top: 16px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 14px 0;

    .service_item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(50% - 10px);

        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
            user-select: none;
        }

        h4 {
            margin-top: 6px;
            padding: 0 4px;
            font-family: 'McLaren', cursive;
            font-weight: 400;
            font-size: 1.4rem;
        }

        ul {
            flex-grow: 1;
            margin-top: 2px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 2px;

            li {
                padding: 0 8px;
                font-size: 1.1rem;
                font-family: 'Philosopher', sans-serif;
            }
        }

        span {
            margin-top: 6px;
            padding: 0 8px;
            font-size: 0.9rem;
            font-family: 'Gowun Batang', serif;
            display: inline-block;
        }


        button.unavailable {
            cursor: default;
            opacity: 0.5;
        }

        button {
            margin-top: 6px;
            outline: transparent;
            padding: 4px 16px;
            font-size: 0.8rem;
            border: 2px solid #785172;
            background-color: #323232;
            border-radius: 20px;
            font-family: "Mukta", sans-serif;
            color: #ffffff;
            cursor: pointer;
            user-select: none;
        }

        button:not(.unavailable):hover {
            border: 2px solid #b430a0;
            -webkit-box-shadow: 0px 0px 10px 3px rgba(180, 48, 160, 0.2);
            -moz-box-shadow: 0px 0px 10px 3px rgba(180, 48, 160, 0.2);
            box-shadow: 0px 0px 10px 3px rgba(180, 48, 160, 0.2);
        }
    }
}


.about_us_article {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #8e4984;
    padding: 25px 4%;
    gap: 20px;
    border-radius: 8px 40px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(142, 73, 132, 0.4);
    -moz-box-shadow: 0px 0px 8px 2px rgba(142, 73, 132, 0.4);
    box-shadow: 0px 0px 8px 2px rgba(142, 73, 132, 0.4);

    h1 {
        font-size: 1.4rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    p {
        font-size: 1.1rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
    }
}


.testimonial-section {
    margin-top: 16px;
    padding: 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;

    .testimonial-carousel {
        display: flex;
        align-items: center;
        width: 100%;
        transition: transform 0.5s ease-in-out;

        .testimonial {
            flex: 0 0 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;

            .customerComment {
                font-size: 1.1rem;
                font-family: 'Montserrat', sans-serif;
                font-weight: 300;
            }

            .customerFullname {
                margin-top: 12px;
                font-size: 1.2rem;
                font-family: "Bhavuka", sans-serif;
            }
        }

        .testimonial.active {
            opacity: 1;
        }
    }

    .testimonial-slider {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;

        .dot {
            background-color: #6e6e6e;
            border-radius: 4px;
            width: 20px;
            height: 5px;
            cursor: pointer;
        }

        .dot.active {
            background-color: #ffffff;
            height: 6px;
        }
    }
}


.gallery-section {
    padding: 0 10px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-evenly;

    .gallery-item {
        display: flex;
        align-items: center;
        width: 90px;

        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
            user-select: none;
            cursor: pointer;
        }
    }

    .gallery_showmore {
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        user-select: none;

        a {
            outline: transparent;
            font-family: 'Montserrat', sans-serif;
            padding: 10px 30px;
            font-size: 1rem;
            color: #ffffff;
            border: 2px solid #785172;
            background-color: #323232;
            border-radius: 20px;
            cursor: pointer;

            &:hover {
                border: 2px solid #b430a0;
                -webkit-box-shadow: 0px 0px 10px 3px rgba(180, 48, 160, 0.2);
                -moz-box-shadow: 0px 0px 10px 3px rgba(180, 48, 160, 0.2);
                box-shadow: 0px 0px 10px 3px rgba(180, 48, 160, 0.2);
            }
        }
    }
}


// Thumbnail Carousel
.minigallery-cont.active {
    display: flex;
}

.minigallery-cont {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    z-index: 100;
    user-select: none;

    .mg-close {
        position: absolute;
        top: 20px;
        right: 30px;
        z-index: 206;
        cursor: pointer;
        display: flex;
        font-size: 1.6rem;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid #ffffff;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(1px);
        transition: background-color 0.1s ease-in-out;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    .mg-carousel-cont {
        height: calc(100% - 181px);
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;

        .mg-carousel {
            width: 90%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;

            img {
                display: none;
            }

            img.active {
                display: block;
                max-height: 90%;
                max-width: 100%;
                border-radius: 14px;
                object-fit: contain;
                animation: fadeIn 0.2s ease-in-out;
            }

            .mg-prev,
            .mg-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 205;
                cursor: pointer;
                display: flex;
                font-size: 1.6rem;
                padding: 10px;
                border-radius: 50%;
                border: 1px solid #ffffff;
                background-color: rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(1px);
                transition: background-color 0.1s ease-in-out;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }

            .mg-prev {
                padding-right: 12px;
                left: 0;
            }

            .mg-next {
                padding-left: 12px;
                right: 0;
            }
        }
    }

    .mg-slider {
        height: 100px;
        flex-shrink: 0;
        width: 100%;
        background-color: #323232;
        padding: 10px 4%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        overflow-y: hidden;
        overflow-x: auto;

        :first-child {
            margin-left: auto !important;
        }

        :last-child {
            margin-right: auto !important;
        }

        img {
            height: 75%;
            opacity: 0.6;
            width: auto;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            border-radius: 6px;
        }

        img.active {
            height: 90%;
            opacity: 1;
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .mg-seperator {
        background-color: #323232;
        padding: 0 3%;

        div {
            width: 100%;
            height: 1px;
            border-top: 1px solid #ffffff40;
        }
    }

    .mg-nav {
        height: 80px;
        flex-shrink: 0;
        width: 100%;
        background-color: #323232;
        padding: 0 4%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        overflow-y: hidden;
        overflow-x: auto;

        :first-child {
            margin-left: auto;
        }

        :last-child {
            margin-right: auto;
        }

        span {
            font-size: 1rem;
            padding: 4px 14px;
            cursor: pointer;
            font-family: 'Gowun Batang', serif;

            &:hover {
                border-bottom: 1px solid #ffffff40;
            }
        }

        span.active {
            border-bottom: 1px solid #ffffff;
        }
    }
}







// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .appointment_contact_info {
        margin-top: 50px;
        font-size: 1.2rem;
    }

    .section-header {
        margin-top: 50px;
        gap: 20px;

        h2 {
            font-size: 1.4rem;
        }
    }

    .our_services-section {
        margin-top: 25px;
        padding: 0 4%;
        gap: 24px 0;

        .service_item {
            width: calc(33.3% - 30px);
            gap: 4px;

            h4 {
                font-size: 1.7rem;
                padding-left: 8px;
            }

            span {
                font-size: 1.1rem;
            }

            button {
                padding: 8px 28px;
                font-size: 1.1rem;
                border-radius: 8px;
            }
        }
    }

    .about_us_article {
        margin-top: 50px;
        padding: 50px 4%;
        gap: 30px;
    }

    .minigallery-cont {
        .mg-nav {
            gap: 20px;

            span {
                font-size: 1.1rem;
                padding: 4px 20px;
            }
        }
    }

    .testimonial-section {
        margin-top: 25px;
        padding: 10px 4% 0;
    }

    .gallery-section {
        margin-top: 25px;
        padding: 0 4%;
        gap: 14px 20px;


        .gallery-item {
            width: 200px;
        }

        .gallery_showmore {

            a {
                padding: 12px 40px;
                font-size: 1.4rem;
            }
        }
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .our_services-section {

        .service_item {
            width: calc(33.3% - 40px);
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}