@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.appointment_contact_info {
  margin-top: 20px;
  padding: 0 10px;
  font-size: 0.8rem;
  font-family: "Armata", sans-serif;
  text-align: center;
}
.appointment_contact_info span {
  white-space: nowrap;
}

.section-header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}
.section-header div {
  flex-grow: 1;
  max-width: 200px;
  border-top: 3px solid #785172;
}
.section-header h2 {
  font-size: 1rem;
  font-family: "Delius", cursive;
  font-weight: 400;
}

.our_services-section {
  margin-top: 16px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 14px 0;
}
.our_services-section .service_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(50% - 10px);
}
.our_services-section .service_item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.our_services-section .service_item h4 {
  margin-top: 6px;
  padding: 0 4px;
  font-family: "McLaren", cursive;
  font-weight: 400;
  font-size: 1.4rem;
}
.our_services-section .service_item ul {
  flex-grow: 1;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2px;
}
.our_services-section .service_item ul li {
  padding: 0 8px;
  font-size: 1.1rem;
  font-family: "Philosopher", sans-serif;
}
.our_services-section .service_item span {
  margin-top: 6px;
  padding: 0 8px;
  font-size: 0.9rem;
  font-family: "Gowun Batang", serif;
  display: inline-block;
}
.our_services-section .service_item button {
  margin-top: 6px;
  outline: transparent;
  padding: 4px 16px;
  font-size: 0.8rem;
  border: 2px solid #785172;
  background-color: #323232;
  border-radius: 20px;
  font-family: "Mukta", sans-serif;
  color: #ffffff;
  cursor: pointer;
}
.our_services-section .service_item button:hover {
  border: 2px solid #b430a0;
  box-shadow: 0px 0px 10px 3px rgba(180, 48, 160, 0.2);
}

.testimonial-section {
  margin-top: 16px;
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}
.testimonial-section .testimonial-carousel {
  display: flex;
  align-items: center;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
.testimonial-section .testimonial-carousel .testimonial {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.testimonial-section .testimonial-carousel .testimonial .customerComment {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.testimonial-section .testimonial-carousel .testimonial .customerFullname {
  margin-top: 12px;
  font-size: 1.2rem;
  font-family: "Bhavuka", sans-serif;
}
.testimonial-section .testimonial-carousel .testimonial.active {
  opacity: 1;
}
.testimonial-section .testimonial-slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.testimonial-section .testimonial-slider .dot {
  background-color: #6e6e6e;
  border-radius: 4px;
  width: 20px;
  height: 5px;
  cursor: pointer;
}
.testimonial-section .testimonial-slider .dot.active {
  background-color: #ffffff;
  height: 6px;
}

.gallery-section {
  padding: 0 10px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-evenly;
}
.gallery-section .gallery-item {
  display: flex;
  align-items: center;
  width: 90px;
}
.gallery-section .gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.gallery-section .gallery_showmore {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.gallery-section .gallery_showmore a {
  outline: transparent;
  font-family: "Delius", cursive;
  padding: 10px 30px;
  font-size: 1rem;
  color: #ffffff;
  border: 2px solid #785172;
  background-color: #323232;
  border-radius: 20px;
  cursor: pointer;
}
.gallery-section .gallery_showmore a:hover {
  border: 2px solid #b430a0;
  box-shadow: 0px 0px 10px 3px rgba(180, 48, 160, 0.2);
}

.minigallery-cont.active {
  display: flex;
}

.minigallery-cont {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.minigallery-cont .mg-close {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 206;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  transition: background-color 0.1s ease-in-out;
}
.minigallery-cont .mg-close:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.minigallery-cont .mg-carousel-cont {
  height: calc(100% - 181px);
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
}
.minigallery-cont .mg-carousel-cont .mg-carousel {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.minigallery-cont .mg-carousel-cont .mg-carousel img {
  display: none;
}
.minigallery-cont .mg-carousel-cont .mg-carousel img.active {
  display: block;
  max-height: 90%;
  max-width: 100%;
  border-radius: 14px;
  -o-object-fit: contain;
     object-fit: contain;
  animation: fadeIn 0.2s ease-in-out;
}
.minigallery-cont .mg-carousel-cont .mg-carousel .mg-prev,
.minigallery-cont .mg-carousel-cont .mg-carousel .mg-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 205;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  transition: background-color 0.1s ease-in-out;
}
.minigallery-cont .mg-carousel-cont .mg-carousel .mg-prev:hover,
.minigallery-cont .mg-carousel-cont .mg-carousel .mg-next:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.minigallery-cont .mg-carousel-cont .mg-carousel .mg-prev {
  padding-right: 12px;
  left: 0;
}
.minigallery-cont .mg-carousel-cont .mg-carousel .mg-next {
  padding-left: 12px;
  right: 0;
}
.minigallery-cont .mg-slider {
  height: 100px;
  flex-shrink: 0;
  width: 100%;
  background-color: #323232;
  padding: 10px 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  overflow-y: hidden;
  overflow-x: auto;
}
.minigallery-cont .mg-slider :first-child {
  margin-left: auto !important;
}
.minigallery-cont .mg-slider :last-child {
  margin-right: auto !important;
}
.minigallery-cont .mg-slider img {
  height: 75%;
  opacity: 0.6;
  width: auto;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 6px;
}
.minigallery-cont .mg-slider img.active {
  height: 90%;
  opacity: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.minigallery-cont .mg-seperator {
  background-color: #323232;
  padding: 0 3%;
}
.minigallery-cont .mg-seperator div {
  width: 100%;
  height: 1px;
  border-top: 1px solid rgba(255, 255, 255, 0.2509803922);
}
.minigallery-cont .mg-nav {
  height: 80px;
  flex-shrink: 0;
  width: 100%;
  background-color: #323232;
  padding: 0 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  overflow-y: hidden;
  overflow-x: auto;
}
.minigallery-cont .mg-nav :first-child {
  margin-left: auto;
}
.minigallery-cont .mg-nav :last-child {
  margin-right: auto;
}
.minigallery-cont .mg-nav span {
  font-size: 1rem;
  padding: 4px 14px;
  cursor: pointer;
  font-family: "Gowun Batang", serif;
}
.minigallery-cont .mg-nav span:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2509803922);
}
.minigallery-cont .mg-nav span.active {
  border-bottom: 1px solid #ffffff;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .appointment_contact_info {
    margin-top: 50px;
    font-size: 1.2rem;
  }
  .section-header {
    margin-top: 50px;
    gap: 20px;
  }
  .section-header h2 {
    font-size: 1.4rem;
  }
  .our_services-section {
    margin-top: 25px;
    padding: 0 4%;
    gap: 24px 0;
  }
  .our_services-section .service_item {
    width: calc(33.3% - 30px);
    gap: 4px;
  }
  .our_services-section .service_item h4 {
    font-size: 1.7rem;
    padding-left: 8px;
  }
  .our_services-section .service_item span {
    font-size: 1.1rem;
  }
  .our_services-section .service_item button {
    padding: 8px 28px;
    font-size: 1.1rem;
    border-radius: 8px;
  }
  .minigallery-cont .mg-nav {
    gap: 20px;
  }
  .minigallery-cont .mg-nav span {
    font-size: 1.1rem;
    padding: 4px 20px;
  }
  .testimonial-section {
    margin-top: 25px;
    padding: 10px 4% 0;
  }
  .gallery-section {
    margin-top: 25px;
    padding: 0 4%;
    gap: 14px 20px;
  }
  .gallery-section .gallery-item {
    width: 200px;
  }
  .gallery-section .gallery_showmore a {
    padding: 12px 40px;
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  .our_services-section .service_item {
    width: calc(33.3% - 40px);
  }
}/*# sourceMappingURL=home.css.map */